<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% include 'navbar.html'%}

    <h1>Welcome to the home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi veniam eaque temporibus numquam, eius deleniti id doloremque laudantium, impedit adipisci dolorum. Vel labore eaque harum, temporibus cupiditate itaque neque molestias omnis soluta ab iusto sint doloribus eius reiciendis eum esse cum suscipit quaerat at incidunt commodi unde. Eaque, omnis recusandae!</p>
</body>
</html>